// default
* {
	box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}


body {
  text-align: center;
  padding-top: 20px;
  height: 100%;
  position: relative;
}

.container{
  height: 90vh;
  width: 70vh;
  display: flex;
  align-items: safe center;
  flex-direction: column;
  flex-wrap: wrap;
}

.container button{
  width: 100%;
}